APP_URL=
PORT=
NODE_ENV=
JWT_SECRET_KEY=
JWT_EXPIRES_IN=
TOKEN_HEADER_KEY=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
REDIS_URL=
SUPABASE_STORAGE_URL=
SUPABASE_STORAGE_API_KEY=
EMAIL_USER=
EMAIL_PASSWORD=
LOGGING_ENABLED=
LOG_LEVEL=
